In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [27]:
df = pd.read_csv("iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [28]:
X = df.drop("variety",axis=1)
Y = df["variety"]
print(X)
print(Y)

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [29]:
X_train, X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2)

In [32]:
print("Train Size: ",X_train.shape)
print("Test Size: ",X_test.shape)

Train Size:  (120, 4)
Test Size:  (30, 4)

In [35]:
scaler = StandardScaler()
scaler.fit(X_train)
test = scaler.transform(X_train)
df = pd.DataFrame(test)
df

            0         1         2         3
0    0.275019 -0.636927  0.510894 -0.015604
1    1.221322  0.119818  0.740940  1.455607
2   -1.026147  0.876563 -1.271963 -1.085575
3    0.748170 -0.132430  0.798451  1.054368
4   -0.316420 -1.393672  0.050802 -0.149350
..        ...       ...       ...       ...
115 -0.316420 -0.384679 -0.121733  0.118143
116  0.629883 -0.384679  0.280848  0.118143
117  1.812761 -0.636927  1.316055  0.920621
118 -0.907859 -1.393672 -0.466802 -0.149350
119 -0.552996  1.633308 -1.329474 -1.353068

[120 rows x 4 columns]

In [37]:
# 5. Calculate the % of missing values in a column. 
# 6. Remove features with missing values (&gt;20%) 
# 7. If the missing values is &lt;20%,do data imputation(mean/median) 
# 8. Remove the outliers. 
# WE HAVE ALREADY DONE THESE IN EXP 1 pls refer that :)